* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60.48px 67px 59.52px 68px;
  max-width: 800px;
  background-color: #F4F5FC;
  margin: 0 auto;
}

.signup__bitmap {
  height: 480px;
  width: 137.2px;
  background-color: #5A61ED;
  position: relative;
}

.signup__bitmap_text {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 49px;
  line-height: 63px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 162px;
  position: absolute;
  bottom: 63px;
  left: 11px;
}

.signup__form {
  background: url(img/Shape.svg), #fff;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 38.52px 22px 32.48px 20.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__form_control {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 0.7px solid  #F2F2F2;
  height: 28px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
}

.signup__form_control:focus {
  outline: 0;
  outline-offset: 0;
  border-bottom: 0.7px solid  #7C7C7C;
}

.signup__form_control_select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.signup__heading {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.46px;
  color: #111111;
}

.signup__subheading {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  margin-bottom: 20px;
}

.signup__input-grid {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  gap: 13px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 42px 42px 42px 42px;
      grid-template-rows: 42px 42px 42px 42px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.signup__input-label {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #7C7C7C;
  cursor: default;
}

.signup__input_birth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup__input_wrapper {
  width: 100%;
  overflow: hidden;
  background: url(img/arrow.svg) no-repeat right;
  display: inline;
}

.signup__input_wrapper_date {
  width: 56px;
}

.signup__input_wrapper_month {
  min-width: 91px;
}

.signup__input_wrapper_year {
  width: 68px;
}

.signup__input_email {
  position: relative;
}

.signup__input_email_checkmark {
  position: absolute;
  right: 0;
  bottom: 11px;
}

.signup__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.signup__login {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.signup__login_link {
  text-decoration: underline;
  color: #5A61ED;
  cursor: pointer;
}

.signup__submit-button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background: #5A61ED;
  border: 0.5px solid #FFFFFF;
  padding: 7px 25px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  max-width: 154px;
}

.signup__submit-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.radioGender {
  margin-right: 19px;
  margin-top: 20px;
  cursor: pointer;
}

.radioGender_button {
  margin-top: 10px;
  border-color: #5A61ED;
}

input[type="radio"]:checked:before {
  content: " ";
  display: block;
  position: relative;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5A61ED;
}

input[type="radio"]:before {
  content: "";
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #5A61ED;
}

@media screen and (max-width: 799px) {
  .signup {
    padding: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .signup__bitmap {
    height: 70px;
    width: 100%;
  }
  .signup__bitmap_text {
    position: relative;
    line-height: 63px;
    -webkit-transform: none;
            transform: none;
    bottom: auto;
    left: auto;
    text-align: center;
    width: auto;
  }
  .signup__form {
    padding: 15px;
  }
  .signup__input-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 42px 42px 42px 42px 42px 42px 42px 42px;
        grid-template-rows: 42px 42px 42px 42px 42px 42px 42px 42px;
  }
  .signup__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .signup__login {
    margin: 15px auto;
  }
  .signup__submit-button {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */